/*
	Generic Style Utilities
*/

/* Hide visually and from screen readers */
.hidden,
[hidden] {
  display: none !important;
}
/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}

/*
	Hide only visually, but have it available for screen readers:
	https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.screen-reader-text,
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; /* For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
}

/*
	Extends the .visually-hidden class to allow the element to be focusable when navigated to via the keyboard:
	https://www.drupal.org/node/897638
*/
.screen-reader-text.focusable:active,
.screen-reader-text.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/*
	Clearfix: contain floats
	The use of `table` rather than `block` is only necessary if using `::before` to contain the top-margins of child elements.
*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
